<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Entry Editor</h1>
		<form class="form">
			<div class="form-group">
				<label>Mod</label><p class="form-control-static"><%= e.get('mod') %></p>
			</div>
			<div class="form-group">
				<label>Id</label><p class="form-control-static"><%= e.get('id') %></p>
			</div>
			<div class="form-group">
				<label>Name</label><input type="text" name="name" class="form-control"  value="<%= e.get('name') %>"/>
			</div>
			<div class="checkbox">
				<label><input type="checkbox" name="technical" <%= e.get('technical')? "checked":"" %>/> Is this a technical block?</label>
			</div>
			<div class="form-group">
				<label>Introduced in:</label><version-select version="<%= e.get('introduced_at') %>"></version-select>
			</div>
			<div class="form-group">
				<label>Last changed:</label><version-select version="<%= e.get('changed_at') %>"></version-select>
			</div>
		</form>
		<div id="meta-container">
			<% e.get('_parsedMeta').each(function(e){%>
			<div class="meta-entry">
			<label><%= e.get('label') %></label>
			<% _.each(e.get('fields'),function(f,k){%>
			<pre><%= k %> : <%= f %></pre>
			<%}) %>
			<pre><%= JSON.stringify(e)%></pre>
			</div>
			<%}) %>
		</div>
	</div>
</div>